

body {
    background-color: rgb(59, 58, 60);
    color : white; 
    background-image: url(LmkBackground.jpg);
    background-repeat: no-repeat;
    background-position: center fixed;
    -webkit-backround-size: cover;
    -moz-backround-size: cover;
    -o-backround-size: cover;
    background-size: cover;
}


#button1 {
        background-color: lightcoral;
        color: white;
        border: 2px solid orange;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      
}
#button3 { 
    background-color: lightblue;
        color: white;
        border: 2px solid orange;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

}

#button2 { 
    background-color: darkolivegreen;
        color: white;
        border: 2px solid orange;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

}

#button4 { 
    background-color: turquoise;
        color: white;
        border: 2px solid orange;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

}