
 html{
    background-image: url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center fixed;
    -webkit-backround-size: cover;
    -moz-backround-size: cover;
    -o-backround-size: cover;
    background-size: cover;
}


#button1 {
        background-color: rgb(120, 195, 220);
        color: rgb(6, 6, 6);
        border: 2px solid rgb(247, 246, 244);
        border-radius: 9px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
      
}

a#button1:hover{
    background-color: rgb(8, 107, 139);
    color: rgb(6, 6, 6);  
    text-decoration: none;
    transition:0.6s;
}

#button3 { 
    background-color: lightblue;
        color: white;
        border: 2px solid orange;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

}

#button2 { 
    background-color: darkolivegreen;
        color: white;
        border: 2px solid orange;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

}

#button4 { 
    background-color: turquoise;
        color: white;
        border: 2px solid orange;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

}